<div id="left">
    <div class="leftItem">
        <div class="item" ng-repeat="Item in leftItem">
            <div class="title" ng-click="toggle($index)"><i class="icon" ng-class="{'ion-arrow-down-b':Item.isShow,'ion-arrow-right-b':!Item.isShow}"> </i> {{ Item.name }}</div>
            <div class="detail" ng-show="Item.isShow">
                <div class="subItem" ng-class="{'active':Item.isShow}" ng-repeat="subItem in Item.subNames"><a ui-sref="{{ subItem.subRoute }}">{{ subItem.name }}</a></div>
            </div>
        </div>
    </div>
</div>