#left {
    width: 150px;
    position: absolute;
    top: 50px;
    bottom: 0;
    background: #4A5064;
    color: #fff;
    font-size: 14px;
}

#left .leftItem {
    padding-top: 20px;
}

#left .title {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, .1)
}

#left .title:hover {
    background: #3B9895
}

#left .title i {
    margin-right: 10px;
}

#left .detail .subItem {
    padding: 5px 0 5px 45px;
    background: #414151;
    cursor: pointer;
}

#left .detail .subItem a {
    color: #fff;
    text-decoration: none;
}

#left .detail .subItem:hover {
    background: rgb(39, 152, 121)
}